/* 
FlexMonkey 1.0, Copyright 2008, 2009 by Gorilla Logic, Inc.
FlexMonkey 1.0 is distributed under the GNU General Public License, v2.
*/
@namespace renderers "com.gorillalogic.flexmonkey.application.UI.renderers.*";
@namespace mx "library://ns.adobe.com/flex/mx";

.spyTab {
	cornerRadius: 5;
	borderStyle:solid;
	borderThickness:1;
	borderColor:#808080;		
}
.spyTabBody {
	paddingTop:0;
	paddingRight:0;
	paddingBottom:0;
	paddingLeft:0;
	tabHeight:27;
	borderStyle:solid;
	borderThickness:1;
	borderColor:#808080;	
}

mx|ToolTip { 
	fontSize: 14;   
	backgroundColor: #E8E8E8;
}   

.commandDetailErrorMessageText{
	fontSize: 10;   
	color: #DD0000;
	fontWeight: bold;
}